<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />
<%block name="title">${_("Server Error")}</%block>

<%block name="header"/>
<%block name="bodyclass">error-page</%block>

<%block name="content">
  <aside>
    <figure class="instruction-text">
      <img src='${static.url("images/404-illustration.jpg")}' />
    </figure>
    <a class="brand-link" href="/"><img src="${static.url('images/studio-logo.png')}"></a>
  </aside>
  <article>
    <h1>
      <%block name="pageheader">
        ${Text(_(u"The {em_start}{studio_name}{em_end} servers encountered an error")).format(
          em_start=HTML('<em>'),
          em_end=HTML('</em>'),
          studio_name=Text(settings.STUDIO_SHORT_NAME),
        )}
      </%block>
    </h1>
    <p>
      <%block name="pagecontent">
        ${Text(_("An error occurred in {studio_name} and the page could not be loaded. Please try again in a few moments.")).format(
          studio_name=Text(settings.STUDIO_SHORT_NAME),
        )}
        ${_("We've logged the error and our staff is currently working to resolve this error as soon as possible.")}
        ${Text(_(u'If the problem persists, please email us at {email_link}.')).format(
          email_link=HTML(u'<a href="mailto:{email_address}">{email_address}</a>').format(
            email_address=Text(settings.TECH_SUPPORT_EMAIL),
          )
        )}
      </%block>
    </p>
  </article>
</%block>
<%block name="footer" />

