<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

${preview | n}
<div class="wrapper wrapper-component-action-header">
    <div class="component-header">
    ${label}
    </div>

    ## <i class="icon-show-hide far fa-eye"></i>
    <i class="far fa-ellipsis-h"></i>
    <ul class="action-menu component-actions">
      <li class="action-item action-edit">
        <button class="btn-default edit-button action-button">
            <span class="icon fal fa-edit" aria-hidden="true"></span>
            <span class="action-button-text">${_("Edit")}</span>
        </button>
      </li>
      <li class="action-item action-show-or-hide">
        <button class="btn-default show-or-hide-button action-button">
            <span class="icon fal fa-eye icon-show-hide" aria-hidden="true"></span>
            <span class="action-button-text label-show">${_("Show to learners")}</span>
            <span class="action-button-text label-hide">${_("Hide from learners")}</span>
        </button>
      </li>
      <li class="action-item action-duplicate">
        <button data-tooltip="${_("Duplicate")}" class="btn-default duplicate-button action-button">
            <span class="icon fal fa-copy" aria-hidden="true"></span>
            <span class="sr">${_("Duplicate this component")}</span>
        </button>
      </li>
      <li class="action-item action-move">
          <button data-tooltip="${_("Move")}" class="btn-default move-button action-button">
              <span class="stack-move-icon fa-stack fa-lg">
                  <span class="fal fa-file-o fa-stack-2x fa-fw" aria-hidden="true"></span>
                  <span class="fal fa-arrow-right fa-stack-1x fa-fw" aria-hidden="true"></span>
              </span>
              <span class="sr">${_("Move")}</span>
          </button>
      </li>
      <li class="action-item action-delete">
        ## data-tooltip="${_("Delete")}"
        <button class="btn-default delete-button action-button">
            <span class="icon fal fa-trash-alt" aria-hidden="true"></span>
            <span class="action-button-text">${_("Delete")}</span>
            ##<span class="sr">${_("Delete this component")}</span>
        </button>
      </li>
    </ul>
</div>
<span data-tooltip="${_("Drag to reorder")}" class="drag-handle action"></span>
