<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<%block name="content">
    <section class="content">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("This page left intentionally blank. Feel free to add your own content.")}</%block>
        </p>
    </section>
</%block>
