<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from urllib import urlencode
    from django.utils.translation import ugettext as _, ungettext
    from django.core.urlresolvers import reverse
    from django.template import Template, Context
    from triboo_analytics.models import CourseStatus, format_time_spent
%>

<%block name="pagetitle">${_("Analytics - Customized Report")}</%block>
<%block name="bodyclass">view-in-analytics</%block>

<%block name="js_extra">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="${static.url('js/triboo_analytics/customized_report.js')}"></script>
</%block>

<%block name="header_extras">
  % for template_name in ["filter_bar", "filter"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="triboo_analytics/${template_name}.underscore" />
  </script>
  % endfor

  <%static:require_module module_name="js/triboo_analytics/customized_filter_factory" class_name="FilterFactory">
    FilterFactory(getParameterByName('search_query'));
  </%static:require_module>
</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <div class="main-container">
        <%include file="banner_nav.html" args="active_page='customized'" />
        <section class="analytics-wrapper customized">
            <div class="report-wrapper">
                <form action="${reverse('analytics_customized_export')}" method="post">
                    <label for="report_type">${_("Please select a report type:")}</label>
                    <select name="report_type" id="report_type">
                    % for type, title in report_types:
                        <option value="${type}">${title}</option>
                    % endfor
                    </select>
                    <label for="course_selected">${_("Please select course to see your report:")}</label>
                    <select id="course_selected">
                    % for cid, course_title in courses:
                        <option value="${cid}">${course_title}</option>
                    % endfor
                        <input type="hidden" name="course_selected" id="course_selected_return">
                    </select>
                    <section class="search-form">
                      <div id="filter-form" role="search" aria-label="course" class="wrapper-search-context">
                        <div class="table-filter-form">
                            ${filter_form}
                            <button id="filter-form" class="filter-submit">${_('Filter')}</button>
                            <button id="clear-all-filters" class="clear-filters">
                                <i class="fa fa-refresh icon"></i>${_("Reset")}
                            </button>
                        </div>
                      </div>
                      <div id="filter-bar" class="filters hide-phone is-collapsed"></div>
                      <div id="filter-message" class="search-status-label"></div>
                    </section>
                    <div class="table-user-properties-form-customized">
                        <div id="user-properties">
                            ${user_properties_form}
                        </div>
                        <div class="table-export-customized">
                            <p>${_("Format")}</p>
                            <div id="table-export-selection">
                              % for format in export_formats:
                                  <li>
                                      <input type="radio" name="format" id="id-${format}" value="${format}">
                                      <label for="id-${format}"><code>${format}</code></label>
                                  </li>
                              % endfor
                            </div>
                            <p id="export-notification"></p>
                            <p id="export-error"></p>
                        </div>
                    </div>
                    <div id="hidden-queries"></div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                    <input type="submit" value="${_("Go")}" id="submit-button"/>
                </form>
            </div>
        </section>
    </div>
</main>