<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from urllib import urlencode
    from django.utils.translation import ugettext as _, ungettext
    from django.core.urlresolvers import reverse
    from django.template import Template, Context
    from triboo_analytics.models import CourseStatus, format_time_spent

    from openedx.core.djangolib.js_utils import (_escape_json_for_js,dump_js_escaped_json,js_escaped_string)
    from django.contrib.staticfiles.storage import staticfiles_storage
    from webpack_loader.templatetags.webpack_loader import render_bundle
    from openedx.core.djangolib.markup import HTML
    import json

%>

<%block name="pagetitle">${_("Analytics - Customized Report")}</%block>
<%block name="bodyclass">view-in-analytics</%block>

<%block name="js_extra">
    <script type="text/javascript" src="${static.url('js/triboo_analytics/customized_report.js')}"></script>
</%block>

<%block name="header_extras">
  % for template_name in ["filter_bar", "filter"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="triboo_analytics/${template_name}.underscore" />
  </script>
  % endfor

  <%static:require_module module_name="js/triboo_analytics/customized_filter_factory" class_name="FilterFactory">
    FilterFactory(getParameterByName('search_query'));
  </%static:require_module>
</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <div class="main-container">
        <%include file="banner_nav.html" args="active_page='customized'" />
        <section class="analytics-wrapper customized">
            <div class="report-wrapper">
                <form id="form-customized-report" action="${reverse('analytics_customized_export')}" method="post">
                    <div class="report_type_and_course_selected"><!--Slot will be filled by CustomizedReport.js--></div>
                    <%static:webpack entry="CustomizedReport">
                        new CustomizedReport({
                            translation:{
                                report_type:'${_("Please select a report type:")}',
                                course:'${_("Please select course to see your report:")}'
                            },
                            'report_types':${json.dumps([{'type': item[0], 'title':item[1], 'courseReportType':item[2]} for item in report_types]) | n},
                            'courses':${json.dumps([{'cid': item[0], 'course_title':item[1]} for item in courses]) | n}
                        });
                    </%static:webpack>
                    <div class="table-period-form">
                        <input name="from_day">
                        <input name="to_day">
                    </div>
                    <section class="filter-form">
                      <div id="filter-form">
                        <div class="table-filter-form">
                            ${filter_form}
                            <button id="filter-form" class="filter-submit">${_('Filter')}</button>
                            <button id="clear-all-filters" class="clear-filters">
                                <i class="fa fa-refresh icon"></i>${_("Reset")}
                            </button>
                        </div>
                      </div>
                      <div id="filter-bar" class="filters hide-phone is-collapsed"></div>
                      <div id="filter-message" class="search-status-label"></div>
                    </section>
                    <div class="table-user-properties-form-customized">
                        <div id="user-properties">
                            ${user_properties_form}
                        </div>
                        <div class="table-export-customized">
                            <p>${_("Format")}</p>
                            <div id="table-export-selection">
                              % for format in export_formats:
                                  <li>
                                      <input type="radio" name="format" id="id-${format}" value="${format}">
                                      <label for="id-${format}"><code>${format}</code></label>
                                  </li>
                              % endfor
                            </div>
                            <p id="export-notification"></p>
                            <p id="export-error"></p>
                        </div>
                    </div>
                    <input type="hidden" name="courses_selected" value="${ courses_selected }" id="course_selected_return"/>
                    <div id="hidden-queries"></div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                    <input type="submit" value="${_("Go")}" id="submit-button" class="disabled"/>
                </form>
            </div>
        </section>
    </div>
</main>
