<%!
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML, Text
%>
<div id="report-downloads">
    <h3>${_("Reports Available for Download")}</h3>
    <p>${_("The reports listed below are available for download. A link to every report remains available on this page, identified by the UTC date and time of generation. Reports are not deleted, so you will always be able to access previously generated reports from this page.")}</p>
    <p>
        ${Text(_("{strong_start}Note{strong_end}: To keep learner data secure, you cannot save or email these links for direct access. Copies of links expire within 5 minutes.")).format(
            strong_start=HTML("<strong>"),
            strong_end=HTML("</strong>"),
        )}
    </p>

    <ul id="report-file-list" data-endpoint="${ list_table_downloads_url }">

    </ul>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        function listDownloads() {
            var elem = $('#report-file-list');
            $.ajax(elem.attr('data-endpoint'), {
                success: function (data) {
                    var links = $.map(data.download, function (f) {
                        var icon = $('<i></i>', {class: 'fa fa-download'});
                        var link = $('<a></a>', {href: f[1], text: f[0]});
                        link.prepend(icon)
                        var li = $('<li></li>');
                        li.html(link);
                        return li;
                    });
                    elem.html(links);
                }
            })
        }
        var inter = setInterval(listDownloads, 10 * 1000);
        $(window).unload(function () {
            clearInterval(inter);
        });
        listDownloads();
    });
</script>
