<%!
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML, Text
%>
<ul class="actions">
    <li class="download-item-container">
        <a class="download-item" href="#" alt="${_('Reports ready to download')}" title="${_('Reports ready to download')}">
            <i class="fal fa-cloud-download-alt"></i>
        </a>
        <div id="report-file-list" class="dropdown-download-menu" data-endpoint="${ list_table_downloads_url }"></div>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        function listDownloads() {
            var elem = $('#report-file-list');
            $.ajax(elem.attr('data-endpoint'), {
                success: function (data) {
                    var links = $.map(data.download, function (f) {
                        var link = $('<a></a>', {href: f[1], text: f[0]});
                        var icon = $('<i></i>', {class: 'fal fa-file-chart-line'});
                        link.prepend(icon)
                        var div = $('<div></div>', {class: 'dropdown-download-item'});
                        div.html(link);
                        return div;
                    });
                    if (links.length <= 0){
                        links.push('<div><h3>${_("No reports available")}</h3></div>')
                    }
                    elem.html(links);
                }
            })
        }
        var inter = setInterval(listDownloads, 10 * 1000);
        $(window).unload(function () {
            clearInterval(inter);
        });
        listDownloads();

        $('.actions .download-item').on('click', function(e){
                var $download = $(e.currentTarget)
                if ($download.hasClass('showing')){
                    $download.removeClass('showing')
                }else{
                    $download.addClass('showing')
                }
        })

    });
</script>
