<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
  from urllib import urlencode
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from django.template import Template, Context
%>

<%block name="pagetitle">${_("Analytics - ILT Report")}</%block>
<%block name="bodyclass">view-in-analytics</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="main-container">
        <%include file="banner_nav.html" args="active_page='ilt'" />
        <section class="analytics-wrapper ilt">
          <%
          ilt_global_url = "%s?%s" % (reverse('analytics_ilt'), urlencode({'report': 'global'}))
          ilt_learner_url = "%s?%s" % (reverse('analytics_ilt'), urlencode({'report': 'learner'}))
          %>
          % if ilt_report_table:
            <div class="report-wrapper ilt_global">
                <ul class="analytics-nav">
                    <li class="nav-item active">${_("ILT Global Report")}</li>
                    <li class="nav-item"><a href="${ilt_learner_url}">${_("ILT Learner Report")}</a></li>
                </ul>

                <p>Time Period:</p>
                <form class="table-period-form" action="${ilt_global_url}" method="get">
                    ${time_period_form}
                    <input type="submit" value="${_("Go")}"/>
                </form>

                <% tpl = "{% load render_table from django_tables2 %}{% render_table ilt_report_table 'triboo_analytics/table.html' %}" %>
                ${Template(tpl).render(Context({'ilt_report_table': ilt_report_table,
                                                    'request': request,
                                                    'row_count': row_count}))}

          % elif ilt_learner_report_table:
            <div class="report-wrapper ilt_learner">
                <ul class="analytics-nav">
                    <li class="nav-item "><a href="${ilt_global_url}">${_("ILT Global Report")}</a></li>
                    <li class="nav-item active">${_("ILT Learner Report")}</li>
                </ul>

                <p>Time Period:</p>
                <form class="table-period-form" action="${ilt_global_url}" method="get">
                    ${time_period_form}
                    <input type="submit" value="${_("Go")}"/>
                </form>

                <form class="table-filter-form" action="${ilt_global_url}" method="get">
                    ${filter_form}
                    % for key, value in query_dict.items():
                        <input type="hidden" value="${value}" name="${key}"/>
                    % endfor
                    <input type="submit" value="${_("Filter")}"/>
                </form>
                <form class="clear-filter-form" action="${ilt_global_url}" method="get">
                    <span style="display: none">${filter_form}</span>
                    <input type="hidden" value="1" name="clear">
                    <input type="hidden" value="" name="query_string">
                    <input type="hidden" value="Name" name="queried_field">
                    <button type="submit" id="clear-all-filters" class="clear-filters reset-button">
                        <i class="fa fa-refresh icon"></i>${_("Reset")}
                    </button>
                </form>
                <div class="filter-forms">
                % for query_string, queried_field, queried_field_name in query_triples:
                <form class="delete-filter-form" action="${ilt_global_url}" method="get">
                    <span style="display: none">${filter_form}</span>
                    <input type="hidden" value="1" name="delete">
                    % for key, value in query_dict.items():
                        <input type="hidden" value="${value}" name="${key}"/>
                    % endfor
                    <input type="hidden" value="${query_string}" name="query_string">
                    <input type="hidden" value="${queried_field_name}" name="queried_field">
                    <button type="submit" class="delete-filter">
                        <span class="query">${_(queried_field)}: ${query_string}</span>
                        <span aria-hidden="true" class="fa fa-times"></span>
                    </button>
                </form>
                % endfor
                </div>

                <form class="table-user-properties-form" action="${reverse('analytics_ilt')}" method="get">
                    <a href="#" id="toggle-user-properties"><i class="fa fa-angle-double-down"></i> ${_("Select the user properties you want to display")}</a>
                    <div id="user-properties-selection">
                        ${user_properties_form}
                        % for key, value in query_dict.items():
                            <input type="hidden" value="${value}" name="${key}"/>
                        % endfor
                        <input type="submit" value="${_("Go")}"/>
                    </div>
                </form>

                <% tpl = "{% load render_table from django_tables2 %}{% render_table ilt_learner_report_table 'triboo_analytics/table.html' %}" %>
                ${Template(tpl).render(Context({'ilt_learner_report_table': ilt_learner_report_table,
                                                'request': request,
                                                'row_count': row_count}))}
          % endif
            </div>
        </section>
    </div>
</main>

<script type="text/javascript">
  $(function() {
    var pull = $('#toggle-user-properties');
    var menu = $('#user-properties-selection');

    $(pull).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle();
    });

    $(window).on("load", function () {
        console.log("after load");
        $("#id_query_string").val("");
        $("#id_queried_field").find("option[value='user__profile__name']").attr("selected",true)
    });
  });
</script>
