<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.utils.translation import ungettext, gettext
    from django.core.urlresolvers import reverse
    from triboo_analytics.models import format_time_spent
%>

<%block name="headextra">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="${static.url('js/triboo_analytics/charts.js')}"></script>
    <script type="text/javascript" src="${static.url('js/triboo_analytics/echarts.min.js')}"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
</%block>

<%block name="pagetitle">${_("Analytics - Global Report")}</%block>
<%block name="bodyclass">view-in-analytics</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="main-container">
        <%include file="banner_nav.html" args="active_page='global'" />
        <section class="analytics-wrapper microsite">
            <div class="report-wrapper">
                <h3>${_("Global Report")}</h3>
              % if microsite_report:
                <div class="analytics-widgets">

                    <div class="analytics-basic-wrapper analytics-basic-wrapper--grow">
                        <section class="analytics-widget analytics-linechart analytics-widget-uv analytics-widget--row2">
                            <div class="analytics-widget__caption">
                                <h3>${_("Number of Unique Visitors")}</h3>
                                <!-- <div class="analytics-widget__caption-select">
                                    <label for="uvchart-select">Show:</label>
                                    <select name="by" id="uvchart-select">
                                        <option value="by-month">Monthly</option>
                                        <option value="by-week">Weekly</option>
                                        <option value="by-day">Daily</option>
                                    </select>
                                </div> -->
                                ${static.renderReact(
                                  component="QuestionMark",
                                  id="id-unique-visitors",
                                  props={
                                    'class':'question-mark',
                                    'tooltip': gettext('Number of different visitors who logged in the platform per day'),
                                  }
                                )}
                            </div>
                            <main>
                                <div class="analytics-widget__chart" id="lineChart"></div>
                            </main>
                        </section>
                    </div>

                    <div class="analytics-basic-wrapper analytics-basic-wrapper--shrink">
                        <section class="analytics-widget analytics-figure analytics-widget-courses analytics-widget--col1">
                          <div class="analytics-widget__caption">
                              <h3>${ungettext("Course", "Courses", microsite_report.courses)}</h3>
                              ${static.renderReact(
                                component="QuestionMark",
                                id="id-courses",
                                props={
                                  'class':'question-mark',
                                  'tooltip': gettext('Number of courses created and available'),
                                }
                              )}
                          </div>
                          <main>
                              <p class="figure">${microsite_report.courses}</p>
                          </main>
                        </section>

                        <section class="analytics-widget analytics-figure analytics-widget-certificates analytics-widget--col1">
                            <div class="analytics-widget__caption">
                                <h3>${ungettext("Certificate Delivered", "Certificates Delivered", microsite_report.finished)}</h3>
                                ${static.renderReact(
                                  component="QuestionMark",
                                  id="id-certificate",
                                  props={
                                    'class':'question-mark',
                                    'tooltip': gettext('Number of times a learner successfully completed a course with 100% progress and a passing total score'),
                                  }
                                )}
                            </div>
                            <main>
                                <p class="figure">${microsite_report.finished}</p>
                            </main>
                        </section>

                        <section class="analytics-widget analytics-guagechart analytics-widget-device analytics-widget--col2">
                            <main>
                                <div class="analytics-widget__chart" id="gaugeChart"></div>
                            </main>
                            <aside>
                                <div class="analytics-widget__caption">
                                    <h3>${_("Device Use")}</h3>
                                    ${static.renderReact(
                                      component="QuestionMark",
                                      id="id-device-use",
                                      props={
                                        'class':'question-mark',
                                        'tooltip': gettext('Proportion of mobile connection vs. computer connection'),
                                      }
                                    )}
                                </div>
                                <div class="legend">
                                    <p><span class="desktop">&#9679;</span> ${_("Desktop")}</p>
                                    <p><span class="mobile">&#9679;</span> ${_("Mobile")}</p>
                                </div>
                            </aside>
                        </section>

                        <section class="analytics-widget analytics-figure analytics-widget-learners analytics-widget--col2">
                            <div class="analytics-widget__caption">
                                <h3>${ungettext("Learner", "Learners", microsite_report.users)}</h3>
                                ${static.renderReact(
                                  component="QuestionMark",
                                  id="id-active-learners",
                                  props={
                                    'class':'question-mark',
                                    'tooltip': gettext('Number of learners enrolled in a course'),
                                  }
                                )}
                            </div>
                            <main>
                                <p class="figure">${microsite_report.users}</p>
                                <div class="analytics-widget__chart" id="learnerChart"></div>
                            </main>
                        </section>

                        <section class="analytics-widget analytics-figure analytics-widget-timespent analytics-widget--col2">
                            <div class="analytics-widget__caption">
                                <h3>${_("Average Time Spent Per Active Learner")}</h3>
                                ${static.renderReact(
                                  component="QuestionMark",
                                  id="id-average-time",
                                  props={
                                    'class':'question-mark',
                                    'tooltip': gettext('Average time learners have spent on the platform'),
                                  }
                                )}
                            </div>
                            <main>
                                <p class="figure">${format_time_spent(microsite_report.average_time_spent)}</p>
                            </main>
                        </section>
                    </div>

                    <div class="analytics-basic-wrapper analytics-basic-wrapper--row">
                      <section class="analytics-widget analytics-widget-map analytics-map">
                        <div class="analytics-widget__caption">
                          <h3>${_("Active Learners Location")}</h3>
                          ${static.renderReact(
                            component="QuestionMark",
                            id="id-active-learner-location",
                            props={
                              'class':'question-mark',
                              'tooltip': gettext('Where are located the active learners based on their profile information'),
                            }
                          )}
                        </div>
                        <main>
                            <div id="map">
                                <svg></svg>
                            </div>
                        </main>
                      </section>
                    </div>

                    <div class="last-update">
                      <span class="fal fa-sync-alt"></span>${_("Please, note that these reports are not live. Last update:")} ${last_update}
                    </div>

                </div>
              % endif
            </div>
        </section>
    </div>
</main>

% if microsite_report and unique_visitors_csv_data:
    <script type="text/javascript">
        function drawUVChart (by) {
          function fetchUVChartData (by) {
              if (by === 'by-week') return "${unique_visitors_csv_data['per_week']}"
              if (by === 'by-month') return "${unique_visitors_csv_data['per_month']}"
              return "${unique_visitors_csv_data['per_day']}"
          }
          var lineChartCsvData = "date,value\n" + fetchUVChartData(by)
          drawLineChart('lineChart', lineChartCsvData, '--analytics-line-chart-color')
          return lineChartCsvData
        }

        drawUVChart('by-day')

        if (document.getElementById('uvchart-select')) {
          document.getElementById('uvchart-select').addEventListener('change', function (event) {drawUVChart(event.target.value)})
        }
    </script>
% endif
% if (microsite_report and (microsite_report.total_time_spent_on_desktop + microsite_report.total_time_spent_on_mobile) > 0):
    <script type="text/javascript">
        var platformDistributionData = [
          ['${_("desktop")}', ${microsite_report.total_time_spent_on_desktop}],
          ['${_("mobile")}', ${microsite_report.total_time_spent_on_mobile}],
        ]

        drawGaugeChart('gaugeChart', platformDistributionData, [
          '--analytics-desktop-color',
          '--analytics-mobile-color',
        ]);
    </script>
% endif
% if users_by_country_csv_data:
    <script type="text/javascript">
        var mapCsvData =  "id,label,value\n" + "${users_by_country_csv_data}";
        drawMap('map', mapCsvData, '${static.url('js/triboo_analytics/world-110m.v1.json')}');
    </script>
% endif
