<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.utils.translation import ungettext, gettext
    from django.core.urlresolvers import reverse
    from triboo_analytics.models import format_time_spent
%>

<%block name="headextra">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="${static.url('js/triboo_analytics/charts.js')}"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
</%block>

<%block name="pagetitle">${_("Analytics - Global Report")}</%block>
<%block name="bodyclass">view-in-analytics</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="main-container">
        <%include file="banner_nav.html" args="active_page='global'" />
        <section class="analytics-wrapper microsite">
            <div class="report-wrapper">
                <h3>${_("Course Report")}</h3>
              % if microsite_report:
                <div class="analytics-basic-wrapper">
                    <div class="analytics-widget-24 analytics-figure">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-courses",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Number of courses created and available'),
                          }
                        )}
                        <p class="figure">${microsite_report.courses}</p>
                        <p class="title">${ungettext("Course", "Courses", microsite_report.courses)}</p>
                    </div>
                    <div class="analytics-widget-24 analytics-figure">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-active-learners",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Number of learners enrolled in a course'),
                          }
                        )}
                        <p class="figure">${microsite_report.users}</p>
                        <p class="title">${ungettext("Learner", "Learners", microsite_report.users)}</p>
                    </div>
                    <div class="analytics-widget-24 analytics-figure">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-certificate",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Number of times a learner successfully completed a course with 100% progress and a passing total score'),
                          }
                        )}
                        <p class="figure">${microsite_report.finished}</p>
                        <p class="title">${ungettext("Certificate Delivered", "Certificates Delivered", microsite_report.finished)}</p>
                    </div>
                    <div class="analytics-widget-24 analytics-figure">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-average-time",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Average time learners have spent on the platform'),
                          }
                        )}
                        <p class="figure">${format_time_spent(microsite_report.average_time_spent)}</p>
                        <p class="title">${_("Average Time Spent Per Active Learner")}</p>
                        ##<p class="title">${}</p>
                    </div>
                </div>

                <div class="analytics-basic-wrapper">
                    <div class="analytics-widget-75 analytics-linechart">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-unique-visitors",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Number of different visitors who logged in the platform per day'),
                          }
                        )}
                        <h3>${_("Number of Unique Visitors")}</h3>
                        <div class="line-chart-wrapper">
                            <div id="lineChart">
                                <svg>
                                    <defs>
                                        <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                          <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                          <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="analytics-widget-24 analytics-piechart">
                        ${static.renderReact(
                          component="QuestionMark",
                          id="id-device-use",
                          props={
                            'class':'question-mark',
                            'tooltip': gettext('Proportion of mobile connection vs. computer connection'),
                          }
                        )}
                        <h3>${_("Device Use")}</h3>
                        <div id="pieChart">
                            <svg></svg>
                        </div>
                        <div class="legend">
                            <p><span class="desktop">&#9679;</span> ${_("Desktop")}</p>
                            <p><span class="mobile">&#9679;</span> ${_("Mobile")}</p>
                        </div>
                    </div>
                </div>

                <div class="analytics-widget-100 analytics-map">
                    ${static.renderReact(
                      component="QuestionMark",
                      id="id-active-learner-location",
                      props={
                        'class':'question-mark',
                        'tooltip': gettext('Where are located the active learners based on their profile information'),
                      }
                    )}
                    <h3>${_("Active Learners Location")}</h3>
                    <div id="map">
                        <svg></svg>
                    </div>
                </div>

                <div class="last-update">
                  <i class="fa fa-history"></i>${_("Please, note that these reports are not live. Last update:")} ${last_update}
                </div>
              % endif
            </div>
        </section>
    </div>
</main>

% if microsite_report and unique_visitors_csv_data:
    <script type="text/javascript">
        var lineChartCsvData = "date,value\n" + "${unique_visitors_csv_data['per_day']}";
        drawLineChart('lineChart', lineChartCsvData, false);

        function redrawLineChart() {
            var s = document.getElementById('lineChart-by'),
                by = s.options[s.selectedIndex].value,
                lineChartCsvData = "date,value\n";
            if (by == "by-week") {
                lineChartCsvData += "${unique_visitors_csv_data['per_week']}";
            } else if (by == "by-month") {
                lineChartCsvData += "${unique_visitors_csv_data['per_month']}";
            } else {
                lineChartCsvData += "${unique_visitors_csv_data['per_day']}";
            }
            drawLineChart('lineChart', lineChartCsvData, true);
        }
    </script>
% endif
% if (microsite_report and (microsite_report.total_time_spent_on_desktop + microsite_report.total_time_spent_on_mobile) > 0):
    <script type="text/javascript">
        var total = ${microsite_report.total_time_spent_on_desktop} + ${microsite_report.total_time_spent_on_mobile};
        var pieChartData = [
          {
            color    : 'desktop',
            percent  : ${microsite_report.total_time_spent_on_desktop} / total
          },
          {
            color    : 'mobile',
            percent  : ${microsite_report.total_time_spent_on_mobile} / total
          }
        ];

        drawPieChart('pieChart', pieChartData);
    </script>
% endif
% if users_by_country_csv_data:
    <script type="text/javascript">
        var mapCsvData =  "id,label,value\n" + "${users_by_country_csv_data}";
        drawMap('map', mapCsvData, '${static.url('js/triboo_analytics/world-110m.v1.json')}');
    </script>
% endif

