<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<%block name="bodyclass">view-gradebook</%block>
<%block name="js_extra">
  <script src="https://cdn.bootcss.com/notify/0.4.2/notify.js"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
  <script type="text/javascript" src="${static.url('js/jquery.gradebook.js')}"></script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>

  <script type="text/javascript">
    $(document).ready(function() {
      var gradebook = new Gradebook($('.gradebook-content'));
      $.notify.defaults({ className: "success" });
    });
  </script>

  <style type="text/css">
      .indicate-icon a {
          display: inline-block;
      }
      .indicate-icon {
          display: inline-block;
      }
      .indicate-icon a.promote-section {
        display: none;
      }
      .indicate-icon a.undo-grade {
        display: none;
      }
      div.gradebook-wrapper section.gradebook-content .high-column {

          background-color: rgba(231,76,60,0.1) !important;

      }
      .student-table .indicate-icon {

        width: 18px;
        display: inline-block;

      }
  </style>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='instructor'" />

<section class="container">
<div class="gradebook-wrapper">
  <section class="instructor-dashboard-content-2" id="instructor-dashboard-content">
      <h2 class="hd hd-2 instructor-dashboard-title">${_("Instructor Dashboard")}</h2>
      <div class="instructor-dashboard-content-wrapper">
          <ul class="instructor-nav">
            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-course_info" type="button" class="btn-link course_info" data-section="course_info" aria-pressed="true">Course Info</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-membership" type="button" class="btn-link membership" data-section="membership" aria-pressed="false">Membership</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-cohort_management" type="button" class="btn-link cohort_management" data-section="cohort_management" aria-pressed="false">Cohorts</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-discussions_management" type="button" class="btn-link discussions_management" data-section="discussions_management" aria-pressed="false">Discussions</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-student_admin" type="button" class="btn-link student_admin active-section" data-section="student_admin" aria-pressed="false">Student Admin</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-data_download" type="button" class="btn-link data_download" data-section="data_download" aria-pressed="false">Data Download</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-certificates" type="button" class="btn-link certificates" data-section="certificates" aria-pressed="false">Certificates</a></li>

            <li class="nav-item"><a href="${reverse('instructor_dashboard', kwargs={'course_id': course_id})}#view-open_response_assessment" type="button" class="btn-link open_response_assessment" data-section="open_response_assessment" aria-pressed="false">Open Responses</a></li>
          </ul>
      </div>
  </section>
  <section class="gradebook-content">
    <div class="title_gradebook">${_("Gradebook")}</div>
    <div class="search">
      <form class="student-search">
        <input type="search" name="learner_name" class="student-search-field" placeholder="${_('Search students')}" />
        <input type="submit" value="${_("Filter")}">
      </form>
      <div class="export-edit">
        <button class="edit_gradebook edit-grade">${_("Edit")}</button>
        <button class="edit_gradebook confirm-grade" style="display: none">${_("Save")}</button>
        <button class="edit_gradebook confirm-grade cancel-grade" style="display: none">${_("Cancel")}</button>
      </div>
      <div style="clear: both"></div>
    </div>
    <ul class="gradebook-instructions">
        ${_("Instructions")}:
        <li>1. ${_("The grade can only be manually changed to 100")}</li>
        <li>2. ${_("The check icon on the right side of grade means the grade is manually changed")}</li>
        <li>3. ${_("Please be careful when you try to edit learners' grade. Once you click the save button, this action is non reversible, a notification email will be sent the leaner.")}</li>
    </ul>
    <table class="student-table">
      <thead>
        <tr>
          <th>
            ${_("Name")}
          </th>
        </tr>
      </thead>
      <tbody>
        %for student in students:
        <tr data-id="${student['id']}">
          <td>
            <div class="indicate-icon" title="${_("This learner's grade has been manually changed")}">
                %if student['grade_summary'].get('override'):
                  <i class="fa fa-check"></i>
                %endif
            </div>
            <a href="${reverse('student_progress', kwargs=dict(course_id=course_id.to_deprecated_string(), student_id=student['id']))}">${student['username']}</a>
          </td>
        </tr>
        %endfor
      </tbody>
    </table>

    %if len(students) > 0:
    <div class="grades">
        <%
        templateSummary = students[0]['grade_summary']
        %>
      <table class="grade-table">
        <thead>
          <tr> <!-- Header Row -->
            <th class="high-column" title="${_('Total')}"><div class="assignment-label">${_('Total')}</div></th>
            %for section in templateSummary['section_breakdown']:
              <%
                tooltip_str = section['detail']
                # We are making header labels from the first student record. So for tool tip (title),
                # I am processing this string ```section['detail']``` from student record and removing
                # all student related data i.e marks, percentage etc to get only the title of homework.
                if "=" in section['detail']:
                    tooltip_str = section['detail'][0: section['detail'].rfind('=')]

                if "-" in tooltip_str:
                    tooltip_str = tooltip_str[0: tooltip_str.rfind('-')]
                if 'Avg' in tooltip_str:
                    data_class = 'high-column'
                else:
                    data_class = ''
                index = section['label'][section['label'].rfind(' '):] if section['label'].rfind(' ') > -1 else ''
                sec_name = section['category'] + index
              %>
              <th class="${data_class}" title="${sec_name}"><div class="assignment-label">${tooltip_str}</div></th>
            %endfor
          </tr>
        </thead>

        <%def name="percent_data(fraction, category, label, detail, override=False, usage_key='')">
          <%
            data_class = ''
            if 'Avg' in label or 'Total' in label:
                data_class = 'high-column'
          %>
          <td class="${data_class}" data-category="${category}" data-percent="${fraction}" data-label="${label}" title="${detail}" data-usage-id="${usage_key}">
              <span>${ "{0:.0f}".format( 100 * fraction ) }</span>
              <div class="indicate-icon">
              %if fraction < 1.0:

                  <a class="promote-section" title="${_('promote')}" href="javascript:void(0);"><span class="fa fa-arrow-up"></span></a>
                  <a class="undo-grade" title="${_('undo')}" href="javascript:void(0);"><span class="fa fa-undo"></span></a>
              %endif
              %if override:
                  <i class="fa fa-check"></i>
              %endif
              </div>
          </td>
        </%def>

        <tbody>
          %for student in students:
          <tr id="${student['id']}" data-id="${student['id']}">
            ${percent_data( student['grade_summary']['percent'], 'Total', 'Total', _('Total'), student['grade_summary'].get('override', False))}
            %for section in student['grade_summary']['section_breakdown']:
              ${percent_data( section['percent'], section['category'], section['label'], section['detail'], section.get('override', False), section.get('usage_key', '') )}
            %endfor
          </tr>
          %endfor
        </tbody>
      </table>
    </div>

    <span class="grade-book-footer">
        %if page["previous_offset"] is not None:
          <a href="${page_url}offset=${page['previous_offset']}"
             class="sequence-nav-button button-previous">
            <span class="icon fa fa-chevron-left" aria-hidden="true"></span><span class="sr">${_("previous page")}</span>
          </a>
        %endif

        ${_("Page {current_page} of {total_pages}").format(
            current_page=page["page_num"], total_pages=page["total_pages"])}

        %if page["next_offset"] is not None:
          <a href="${page_url}offset=${page['next_offset']}"
             class="sequence-nav-button button-next">
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span><span class="sr">${_("next page")}</span>
          </a>
        %endif
    </span>
    %endif
  </section>
</div>
</section>
