<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
from six import text_type, string_types

from course_modes.models import CourseMode
from courseware.courses import get_course_about_section
from lms.djangoapps.certificates.models import CertificateStatuses
from openedx.core.djangolib.markup import HTML, Text
from openedx.core.lib.courses import course_image_url
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
from xmodule.contentstore.django import contentstore
%>

<%
username = get_enterprise_learner_generic_name(request) or student.username
%>

<%block name="bodyclass">view-in-course view-progress</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default)}</%block>

<%
def get_trophy_path(trophy_img):
    try:
        asset_key = course.id.make_asset_key('asset', trophy_img + '.png')
        contentstore().find(asset_key)

        img_path = course_image_url(course)
        at_pos = img_path.rfind("@")
        return img_path[:at_pos] + "@" + trophy_img + '.png'

    except:
        return static.url("images/badge.png")
%>

<%include file="/courseware/course_banner.html" />

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="obtained-badges">
                <h2>${_("My collection of badges")}</h2>
                <ul>
                    % for chapter in progress_summary['trophies_by_chapter']:
                        % for trophy in chapter['trophies']:
                            % if trophy['passed']:
                            <li class="badge-card">
                                <a href="${reverse('courseware_section', kwargs=dict(course_id=text_type(course.id), chapter=chapter['url'], section=trophy['section_url']))}">
                                    <img src="${get_trophy_path(trophy['trophy_img'])}" alt="badge">
                                    <section class="badge-info">
                                        <h2>${trophy['section_format']}</h2>
                                        <div><span>${trophy['section_name']}</span></div>
                                        <div><span>+1 ${_('badge')} <i class="fa fa-trophy"></i></span></div>
                                        <div><span>${_('Score')}: ${int(trophy['result']*100)}%</span></div>
                                    </section>
                                </a>
                            </li>
                            % endif
                        % endfor
                    % endfor
                </ul>
            </section>
            <section class="not-obtained-badges">
                <h2>${_("Badges not obtained")}</h2>
                <ul>
                    % for chapter in progress_summary['trophies_by_chapter']:
                        % for trophy in chapter['trophies']:
                            % if not trophy['passed'] and trophy['attempted']:
                            <li class="badge-card">
                                <a href="${reverse('courseware_section', kwargs=dict(course_id=text_type(course.id), chapter=chapter['url'], section=trophy['section_url']))}">
                                    <img src="${get_trophy_path(trophy['trophy_img'])}" alt="badge">
                                    <section class="badge-info">
                                        <h2>${trophy['section_format']}</h2>
                                        <div><span>${_('To win this badge, get at least {score}%').format(score=int(trophy['threshold']*100))}</span></div>
                                        <div><span>${_('Score')}: ${int(trophy['result']*100)}%</span></div>
                                    </section>
                                </a>
                            </li>
                            % endif
                        % endfor
                    % endfor
                </ul>
            </section>
            <section class="not-started-badges">
                <h2>${_("Badges to be earned")}</h2>
                <ul>
                    % for chapter in progress_summary['trophies_by_chapter']:
                        % for trophy in chapter['trophies']:
                            % if not trophy['attempted']:
                            <li class="badge-card">
                                <a href="${reverse('courseware_section', kwargs=dict(course_id=text_type(course.id), chapter=chapter['url'], section=trophy['section_url']))}">
                                    <img src="${get_trophy_path(trophy['trophy_img'])}" alt="badge">
                                    <section class="badge-info">
                                        <h2>${trophy['section_format']}</h2>
                                        <div><span>${_('To win this badge, get at least {score}%').format(score=int(trophy['threshold']*100))}</span></div>
                                        <div><span>${_('Score')}: 0%</span></div>
                                    </section>
                                </a>
                            </li>
                            % endif
                        % endfor
                    % endfor
                </ul>
            </section>
        </div>
    </div>
</main>
