## mako

<%namespace name='static' file='../static_content.html'/>

<%page expression_filter="h"/>

<%!
import json
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
%>

<section class="discussion discussion-board page-content-container" id="discussion-container"
         data-course-id="${course.id}"
         data-user-create-comment="${json.dumps(can_create_comment)}"
         data-user-create-subcomment="${json.dumps(can_create_subcomment)}"
         data-read-only="false"
         data-sort-preference="${sort_preference}"
         data-flag-moderator="${json.dumps(flag_moderator)}"
         data-user-group-id="${user_group_id}">
    <div class="forum-content"></div>

    <header class="page-header has-secondary">
        <h3>${_('Discussions')}</h3>
        <div class="page-header-secondary">
            ## Add Post button
            % if has_permission(user, 'create_thread', course.id):
            <div class="forum-actions">
                <button class="btn btn-outline-primary btn-small new-post-btn" title="${_('Create a post')}">${_("Add a Post")}</button>
                <button class="btn btn-outline-primary btn-small back-thread-list" title="${_('View all discussions')}">${_("All Discussions")}</button>
            </div>
            % endif
            ## Search box
            <div class="forum-search"></div>
        </div>
    </header>
    <div class="page-content"
      % if getattr(course, 'language'):
        lang="${course.language}"
      % endif
    >
        <div class="discussion-body">
            <main id="main" class="discussion-column" aria-label="Content" tabindex="-1">
                <article class="new-post-article is-hidden" tabindex="-1" aria-label="${_("New topic form")}"></article>

            </main>
            <aside class="forum-nav" role="complementary" aria-label="${_("Discussion thread list")}">
                <div class="discussion-thread-list-container"></div>
            </aside>
        </div>
    </div>
</section>

<%include file="_underscore_templates.html" />
<%include file="_thread_list_template.html" />
