% if user.is_authenticated:
    <script>
        window.intercomSettings = {
        app_id: "a885xj85",
        name: "${user.first_name}", // Full name
        email: "${user.email}", // Email address
        created_at: "${user.date_joined}" // Signup date as a Unix timestamp
      };
    </script>
    
    <script>(function() {
            var w=window;
            var ic=w.Intercom;
            if (typeof ic==="function") {
                ic('reattach_activator');
                ic('update',w.intercomSettings);
            } else {
                var d=document;
                var i=function() {
                    i.c(arguments);
                };
                i.q=[];
                i.c=function(args) {
                    i.q.push(args);
                };
                w.Intercom=i;
                var l=function() {
                    var s=d.createElement('script');
                    s.type='text/javascript';
                    s.async=true;s.src='https://widget.intercom.io/widget/a885xj85';
                    var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
                };
                if (w.attachEvent) {
                    w.attachEvent('onload',l);
                } else {
                    w.addEventListener('load',l,false);}
            }
        })();
    </script>
  % endif

<!-- Start of coronaaprende Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=f14462dd-c524-4689-aa6d-9c296ecc19bb"> </script>
<!-- End of coronaaprende Zendesk Widget script -->
