%if len(sequence_list) > 1:
<nav class="seq-nav-wrapper">
  <ol id="seq-nav">
    % for seq in sequence_list:
      <li role="presentation" data-id="${seq['id']}">
        <a href="${seq['lms_web_url']}">
          % if seq['graded']:
            % if seq['complete']:
              <span class="far fa-shield-check"></span>
            % else:
              <span class="far fa-shield"></span>
            % endif
          % else:
            % if seq['complete']:
              <span class="fa fa-check-circle"></span>
            % else:
              <span class="fa fa-circle"></span>
            % endif
          % endif
          <span class="seq-tooltip">${seq['title']}</span>
        </a>
      </li>
    % endfor
  </ol>
</nav>
%endif
