<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
  from django.conf import settings
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%block name="bodyclass">view-external-catalog</%block>

<script type="application/javascript">
    window.COURSE_CATEGORIES = ${dict(settings.COURSE_CATEGORIES) | n, dump_js_escaped_json};
</script>
<main id="main" aria-label="Content" tabindex="-1">



    <!--<section class="find-courses">
      <section class="banner">
        <section class="welcome-wrapper">
          <h2>${_("Explore Courses")}</h2>
        </section>
      </section>

    </section>-->
</main>

${static.renderReact(
      component="ExternalCatalog",
      id="main", props={
        'language': user_language
      }, noWrapper=True
    )
  }

<!--${_('Mandatory Course')} it needs to take a place first, please don't remove.-->
